@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");


.cover {
	font-family: Lato;
	color: white;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.1) 100%), url('../../../static/imgs/auto4.jpg');
    background-size: cover;
	background-position: center;
    display: table;
    width: 100%;
    box-shadow: inset 0 0 100px #000;
} 

.cname {
    color: rgb(161, 206, 245);
	font-family: Permanent Marker;
	font-size: 6em;
	letter-spacing: 0.1em;
	font-weight: 700;
}

#content {
	text-align: center;
	padding-top: 15%;
	padding-bottom: 40%;
	text-shadow: 0px 4px 3px rgba(0,0,0.4),
				 0px 8px 13px rgba(0,0,0.1),
				 0px 18px 23px rgba(0,0,0.1);
}